<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Trackhn</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="uib-collapse navbar-collapse" uib-collapse="navCollapsed">

            <ul class="nav navbar-nav">
                <li ng-if="isLoggedIn()"  class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" >
                        Reportes<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/reportes/general-por-estados">General por Estados</a></li>
                        <li><a href="#/reportes/reporte-general-por-establecimientos">Reporte General por Establecimiento</a></li>
                        <li><a href="#/reportes/reporte-general-por-empresa">Reporte General por Empresas</a></li>
                        <li><a href="#/reportes/reporte-general-por-usuarios">Reporte General por Usuarios</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="isLoggedIn()"  class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" >
                        Encomiendas<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/paquetes">Paquetes</a></li>
                        <li><a href="#/bolsas"> Bolsas</a></li>
                        <li><a href="#/cargamentos">Bolsas Multiples</a></li>
                    </ul>
                </li>
                <li configura-mn class="dropdown" uib-dropdown has-permission="['owner', 'admin']" />

                <li usuarios-mn class="dropdown" uib-dropdown has-permission="['owner', 'admin']"  />
                
                <li ng-if="!isLoggedIn()"  role="presentation"><a href="#/login">Login</a></li>
                <li ng-if="isLoggedIn()"  role="presentation"><a ng-click="logout()">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
