<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">



        <div class="modal-content">
            <div ng-if="messageSeccion">
                <p>
                <h3>{{ messageSeccion }}</h3>
                <button class="btn btn-primary" ng-click="dismissModal()" >Cerrar Establecimiento</button>
                </p>
            </div>

            <form ng-submit="submitSeccion()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">&times;</button>
                    <h3>{{title}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="name">Sección</label>
                            <input type="text" class="form-control ng-pristine ng-valid ng-touched" id="name" name="name" ng-model="seccion.name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>

        </div>

    </div>
</div>