<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div ng-if="message">
                <p>
                    <h3>{{ message }}</h3>
                    <button class="btn btn-primary" ng-click="close()" data-dismiss="modal">Cerrar</button>
                </p>
            </div>

            <form ng-submit="submitTrader()" ng-if="!message">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="row">
                        <div class="col-md-8">
                            <h3> {{ title }} </h3>
                        </div>
                    </div>
                </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="name">Nombre</label>
                                        <input type="text" class="form-control" id="name" name="name" ng-model='profile.name' />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6" ng-if="!establecimiento_nombre">
                                        <label for="selectEstablecimientos"><i class="fa fa-map-signs"></i> <a href="" ng-click="createEstablecimiento()">Establecimiento</a></label>
                                        <select ui-select2="selectEstablecimientos" id="selectEstablecimientos" data-placeholder="Seleccione Establecimiento" ng-model="profile.establecimiento_id">
                                        </select>
                                    </div>
                                    <div class="col-md-6" ng-if="establecimiento_nombre">
                                        <label for="selectEstablecimientos"><i class="fa fa-map-signs"></i> <a href="" ng-click="createEstablecimiento()">Establecimiento</a></label>
                                        <input type="text" class="form-control" readonly value="{{ establecimiento_nombre }}"/>
                                    </div>

                                    <div class="col-md-6" ng-if="!seccion_nombre">
                                        <label for="selectSeccion"><i class="fa fa-map-pin"></i> <a href="" ng-click="createSeccion()"> Sección</a></label>
                                        <select ui-select2="selectSeccion" id="selectSeccion" data-placeholder="Seleccione Sección" ng-model="profile.seccion_id">
                                        </select>
                                    </div>

                                    <div class="col-md-6" ng-if="seccion_nombre">
                                        <label for="selectSeccion"><i class="fa fa-map-pin"></i> <a href="" ng-click="createSeccion()"> Sección</a></label>
                                        <input type="text" class="form-control" value="{{ seccion_nombre }}" readonly/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="validacion()">Crear</button>
                </div>

            </form>
        </div>
    </div>
</div>

