<div id="bolsas-create">
    <h3>Nueva Bolsa de encomiendas</h3>
    <div class="row">

        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">No. Guia de Bolsa</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- code Form Input -->
                            <div class="form-group">
                                <input class="select form-control" id="code" name="code" type="text" ng-model="bolsa.code">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button id="generate" class="btn btn btn btn-material-indigo" ng-click="generateCode()">Generar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Destinos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select ui-select2="selectTradersSender" data-placeholder="Establecimiento Remitente" ng-model="bolsa.sender_id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <select ui-select2="selectTradersSender" data-placeholder="Establecimiento Destino" ng-model="bolsa.sender_id">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ingrese Guías de encomiendas</h3>
                    </div>
                    <div class="panel-body">
                        <input type="number" class="form-control" id="code" ng-model="shipment.code" ng-model-options="{ debounce: 500 }"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
            <span>Total de encomiendas</span><br/>
                <p>{{ sizes }}</p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>No. Guía</th>
                        <th>Remitente</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Agregar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in bolsa.shipments">
                        <td>{{ item.code}}</td>
                        <td>{{ item.senders.name }}</td>
                        <td>{{ item.recivers.name }}</td>
                        <td>{{ item.created_at }}</td>
                        <td>Acciones</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>