@import url('http://fonts.googleapis.com/css?family=Raleway|Merriweather+Sans');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
*/
body {
  overflow-x: hidden; }

::-moz-selection {
  /* Code for Firefox */
  color: #FFF;
  background: #f44336; }

::selection {
  color: #FFF;
  background: #f44336; }

.main-title {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 48px;
  color: #666;
  margin-top: 15px;
  text-transform: uppercase; }

.main-title div {
  width: 90%;
  background: #e53935;
  height: 5px;
  margin: 0 auto;
  opacity: 0;
  transform: translate(0px, -60px);
  -webkit-transform: translate(0px, -60px);
  -ms-transform: translate(0px, -60px);
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms; }

.main-title:hover div {
  opacity: 0.8;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px); }

.text-center {
  text-align: center; }

.logo-top {
  height: 78px;
  margin-right: 10px;
  width: auto;
  position: relative;
  top: -5px;
  cursor: default; }

.full-border {
  padding: 0px; }

.intro-text {
  background: url("../images/intro-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 50px;
  margin-bottom: 20px;
  border-top: solid rgba(255, 255, 255, 0) 10px;
  border-bottom: solid rgba(255, 255, 255, 0) 10px;
  height: auto;
  padding-bottom: 60px;
  padding-bottom: 60px; }

.logo {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8); }

.intro-text-wrapper {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  max-width: 1100px; }

.intro-text-container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10%;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  max-width: 1100px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  background-color: rgba(0, 50, 100, 0.4); }

.fix-col-width {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none; }

.sideless {
  padding-right: 0;
  padding-left: 0; }

.medium-text {
  font-size: 32px; }

.title-description {
  font-size: 36px;
  color: #666;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 50px;
  margin-bottom: 15px;
  text-transform: uppercase; }

.intro-title-description {
  font-size: 36px;
  color: #666;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase; }

.feature-box {
  margin: 0 auto;
  width: 95%;
  border-radius: 4px;
  max-width: 1100px;
  background: #FFF;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms; }

.feature-box-container {
  margin-bottom: 40px;
  margin-top: 40px; }

.feature-box:hover {
  box-shadow: 0px 5px 14px rgba(0, 85, 170, 0.5); }

.feature-box i {
  color: #00BBFF;
  font-size: 52px;
  transition: all ease-in-out 400ms;
  -webkit-transition: all ease-in-out 400ms;
  -ms-transition: all ease-in-out 400ms; }

.feature-box:hover i {
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); }

.feature-box h2 {
  font-size: 30px;
  color: #666;
  font-family: 'Raleway', sans-serif; }

.enterprise-description {
  font-size: 32px;
  color: #666;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 25px;
  margin: 0 auto; }

.footer-style {
  margin-top: 50px;
  padding-top: 10px;
  background: #555;
  position: relative; }

.foot-link {
  text-decoration: underline;
  color: #AACCFF; }

.foot-link:hover {
  color: #00AAFF; }

.foot-image {
  width: 100%;
  max-width: 480px;
  margin: 0 auto; }

.footer-container {
  position: relative; }

.credits {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-size: 20px; }

.gall-img {
  width: 100%; }

.blue-text {
  color: #105A90; }

.light-blue-text {
  color: #099DFD; }

.footer-bottom {
  background: #333;
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-size: 20px; }

.blue-lighten {
  color: #AACCFF; }

@media screen and (max-width: 767px) {
  .enterprise-description {
    font-size: 24px; }
  .title-description {
    font-size: 28px; }
  .gall-img {
    width: 70%; } }

@media screen and (max-width: 480px) {
  .gall-img {
    width: 90%; } }


/*# sourceMappingURL=trackhn.css.map */