<div class="row">
    <div class="col-md-12">
        <div class="double-bounce1" ng-show="loader.loading"><span us-spinner></span></div>
        <div class="row">
            <div class="col-md-10">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-warning" ng-click="createModal()">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">Buscar</span>
                                <input type="text" class="form-control" id="search" ng-model='searchable' aria-describedby="inputGroupSuccess1Status">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <div class="table-responsive">
                <div class="double-bounce1" ng-show="loader.loading2"><span us-spinner></span></div>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre Completo</th>
                        <th>Establecimiento</th>
                        <th>Sección</th>
                        <th>Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in clientes">
                        <td>{{ item.id }}</td>
                        <td><a href="#/clientes/{{ item.id }}">{{ item.name }}</a></td>
                        <td>{{ item.establecimiento.name }}</td>
                        <td>{{ item.seccion.name }}</td>
                        <td>{{ item.estado.name }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-click="nextPage(currentPage)"></uib-pagination>
            </div>
        </div>
    </div>
</div>