<div id="newShip">
        <h3>Nueva Encomienda</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">No. Guia</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <!-- code Form Input -->
                                <div class="form-group">
                                    <input class="select form-control" id="code" name="code" type="text" ng-model="shipment.code">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="generate" class="btn btn btn btn-material-indigo" ng-click="generateCode()">Generar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Remitente </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <select ui-select2="selectTradersSender" data-placeholder="Seleccione al remitente" ng-model="shipment.sender_id">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <a href="" ng-click="newUserModal('sender')"><i class="fa fa-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" ng-if="sender">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr><th>Nombre</th>
                                        <th>Sección</th>
                                        <th>Sucursal/Edificio</th>
                                    </tr></thead>
                                    <tbody>
                                    <tr>
                                        <td><span class="info-row">{{ sender.name }}</span></td>
                                        <td><span class="info-row"><span class="info-row">{{ sender.seccion.name }}</span></span></td>
                                        <td>{{ sender.establecimiento.name }}</td>

                                    </tr>
                                    <tr>
                                        <th>Departamento</th>
                                        <th colspan="2">Municipio</th>
                                    </tr>
                                    <tr>
                                        <td>{{ sender.establecimiento.municipio.departamento.departamento }}</td>
                                        <td colspan="2">{{ sender.establecimiento.municipio.municipio }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Dirección</th>
                                    </tr>
                                    <tr>
                                        <td colspan="3">{{sender.establecimiento.address }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Destinatario</div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-11">
                                        <div class="form-group">
                                            <select ui-select2="selectTradersReciver" data-placeholder="Seleccione al destinatario" ng-model="shipment.reciber_id">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <a href="" ng-click="newUserModal('reciber')"><i class="fa fa-plus-circle red"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" ng-if="reciber">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr><th>Nombre</th>
                                        <th>Sección</th>
                                        <th>Sucursal/Edificio</th>
                                    </tr></thead>
                                    <tbody>
                                    <tr>
                                        <td><span class="info-row">{{ reciber.name }}</span></td>
                                        <td><span class="info-row"><span class="info-row">{{ reciber.seccion.name }}</span></span></td>
                                        <td>{{ reciber.establecimiento.name }}</td>

                                    </tr>
                                    <tr>
                                        <th>Departamento</th>
                                        <th colspan="2">Municipio</th>
                                    </tr>
                                    <tr>
                                        <td>{{ reciber.establecimiento.municipio.departamento.departamento }}</td>
                                        <td colspan="2">{{ reciber.establecimiento.municipio.municipio }}</td>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Dirección</th>
                                    </tr>
                                    <tr>
                                        <td colspan="3">{{reciber.establecimiento.address }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        Descripción
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea name="description" id="description" cols="30" class="form-control empty" rows="5" ng-model="shipment.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Registrar estado
                </div>
                <div class="panel-body">
                    <select ui-select2 name="estado" id="estado" ng-model="shipment.estado_id">
                        <option value="2">Transito, regular</option>
                        <option ng-repeat="estado in estados" value="{{estado.id}}">{{estado.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ng-click="createShipment()">Crear Encomienda</button>
            <button type="button" class="btn btn-flat" ng-click="shipmentCancel()">Cancelar</button>
        </div>
    </div>
</div>
