
<md-content layout-padding>
    <form name="loginForm" ng-submit="login()" novalidate>
        <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email"  ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="loginForm.user.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" required ng-model="user.password">
            <div ng-messages="loginForm.user.password.$error">
                <div ng-message="required">Este es un campo requerido</div>
            </div>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid">Login</md-button>
    </form>
</md-content>
