<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <h3>Login</h3>
        <form name="loginForm" ng-submit="login()" novalidate>
            <div class="alert alert-danger" ng-show="wrongCredentials">
                <p>Error en el evento de login</p>
                <p>El servidor dice "<em>{{messageErrorServer}}</em>"</p>
            </div>
            <div class="form-group" ng-class="{'has-error' : loginForm.email.$invalid && loginForm.email.$dirty, 'has-success':loginForm.$valid && loginForm.email.$dirty}">
                <label class="control-label">E-mail</label>
                <input type="email" name="email" class="form-control" placeholder="Email" ng-model="user.email" required cu-focus/>
                <p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty  && !loginForm.email.$focused">Wrong email</p>
            </div>

            <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && loginForm.password.$dirty, 'has-success':loginForm.$valid && loginForm.password.$dirty}">
                <label class="control-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required cu-focus/>
                <p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty  && !loginForm.password.$focused">password is require</p>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Submit</button>
        </form>
    </div>
</div>