
<md-content layout-padding>
  <h2>Login</h2>
    <md-content layout-padding style="background: darkred; color: white;" ng-show="wrongCredentials">
        <p>
            <md-icon md-svg-src="images/icon/warning.svg" class="s48" aria-label="warning" style="color:white;"></md-icon>
            Error al tratar hacer login, El servidor dice :"<em>{{messageErrorServer}}</em>" revisa tu usuario o contraseña
        </p>
    </md-content>


    <form name="loginForm" ng-submit="login()" novalidate>
        <md-input-container class="md-block">
            <label>Email</label>
            <input required type="email"  ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="loginForm.user.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password</label>
            <input type="password" required ng-model="user.password">
            <div ng-messages="loginForm.user.password.$error">
                <div ng-message="required">Este es un campo requerido</div>
            </div>
        </md-input-container>
        <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid">Login</md-button>
    </form>
</md-content>
