<div>
    <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="double-bounce1" ng-if="loader.loading"><span us-spinner></span></div>
                <form name="formEdit" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-group" ng-class="{'has-error': formEdit.name.$invalid }">
                                <label for="name">Nombre</label>
                                <input type="text" id="name" name="name" ng-model="agencia.name" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Departamento</label>
                                <select on-change="municipioRelacionado"
                                        ng-model="agencia.departamento_id"
                                        ng-options="d.id as d.departamento for d in departamentos"
                                        allow-single-deselect="false" style="width: 100%; height: 4rem"
                                        disable-search="true"
                                        required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-group" ng-class="{'has-error': formEdit.municipio.$invalid }">
                                <label>Municipio</label>
                                <select ng-model="agencia.municipio_id"
                                        ng-options="e.id as e.municipio for e in municipio"
                                        allow-single-deselect="false" style="width: 100%; height: 4rem"
                                        disable-search="true"
                                        required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-group" ng-class="{'has-error': formEdit.empresa.$invalid }">
                                <label>Empresa</label>
                                <select ng-model="agencia.empresa_id"
                                        ng-options="e.id as e.name for e in empresas"
                                        allow-single-deselect="false" style="width: 100%; height: 4rem"
                                        disable-search="true"
                                        required>
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="field-group">
                                <label for="address">Dirección</label>
                                <textarea type="text" id="address" ng-model="agencia.address" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-success" type="button" ng-click="ok()" ng-disabled="formEdit.$invalid">Actualizar</button>
    </div>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

