<div class="row">
    <div class="col-md-12">
        <div class="double-bounce1" ng-show="loader.loading"><span us-spinner></span></div>
        <div class="row">
            <div class="col-md-6"><h2>{{ title }}</h2></div>

            <div class="col-sm-6">
				<div class="text-right">
					<a class="btn btn-warning" href="#/bolsas/" ng-if="!isEdit"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
					<button class="btn btn-success" ng-click="edit()" ng-if="!isEdit">Editar <i class="glyphicon glyphicon-edit"></i></button>
					<button class="btn btn-danger" type="button" ng-click="unEdit()" ng-if="isEdit">Cancel Edición</button>
					<button class="btn btn-success" ng-click="ok()" ng-disabled="formShipment.$invalid" ng-if="isEdit">Actualizar</button>
                    <a class="btn btn-info" data-ng-click="showList(bolsa.id)" ng-if="!isEdit">Ver paquetes &nbsp;  <span class="glyphicon glyphicon-eye-open"></span></a>
                    <a class="btn btn-info" href="#/bolsas-listado/{{ bolsa.id }}" ng-if="!isEdit">Listado &nbsp;  <span class="glyphicon glyphicon-list"></span></a>
				</div>
            </div>

			<div class="row">
				<form name="editForm" class="col-md-12">

					<div class="col-md-6">

						<div class="panel panel-info">
							<div class="panel-heading">Agencia Remintente</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-10">
										<div class="form-group">
											<ui-select ng-model="sender.selected" ng-change="sourceSenderChanged()"  theme="bootstrap" style="min-width: 300px;" ng-disabled="!isEdit">
												<ui-select-match class="ui-select-match" placeholder="Agencias o Establecimiento">{{$select.selected.name}}</ui-select-match>
												<ui-select-choices class="ui-select-choices"  data-id="$index"  refresh="searchSender($select)" refresh-delay="300" repeat="agencia in senders">
													<span ng-bind-html="agencia.name | highlight: $select.search"></span>
												</ui-select-choices>
											</ui-select>
										</div>
									</div>
									<div class="col-xs-1">
										<a class="btn btn-warning" ng-click="agenciaModal(1)" ng-if="isEdit"><i class="glyphicon glyphicon-plus"></i></a>
									</div>
								</div>
								<div class="row" ng-show="remitente">
									<div class="col-xs-12">
										<hr />
										<div class="row">
											<div class="col-xs-6">
												<div style="border-bottom: 1px solid black"><strong>Departamento</strong></div>
												{{ remitente.departamento.departamento }}
											</div>
											<div class="col-xs-6">
												<div style="border-bottom: 1px solid black">
													<strong>Municipio</strong>
												</div>
												{{ remitente.municipio.municipio }}
											</div>
											<div class="col-xs-12">
												<div style="border-bottom: 1px solid black"><strong>Dirección</strong></div>
												{{ remitente.address }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="col-md-6">
						<div class="panel panel-primary">
							<div class="panel-heading">Agencia Destino </div>
							<div class="panel-body">
								<div class="row">
									<div class="col-xs-10">
										<div class="form-group">
											<ui-select ng-model="reciber.selected" ng-change="sourceReciberChanged()"  theme="bootstrap" style="min-width: 300px;" ng-disabled="!isEdit">
												<ui-select-match class="ui-select-match" placeholder="Agencias o Establecimiento">{{$select.selected.name}}</ui-select-match>
												<ui-select-choices class="ui-select-choices"  data-id="$index"  refresh="searchReciber($select)" refresh-delay="300" repeat="agencia in recibers">
													<span ng-bind-html="agencia.name | highlight: $select.search"></span>
												</ui-select-choices>
											</ui-select>
										</div>
									</div>
									<div class="col-xs-1">
										<a class="btn btn-warning" ng-click="agenciaModal(2)" ng-if="isEdit"><i class="glyphicon glyphicon-plus"></i></a>
									</div>
								</div>
								<div class="row" ng-show="destinatario">
									<div class="col-xs-12">
										<hr />
										<div class="row">
											<div class="col-xs-6">
												<div style="border-bottom: 1px solid black"><strong>Departamento</strong></div>
												{{ destinatario.departamento.departamento }}
											</div>
											<div class="col-xs-6">
												<div style="border-bottom: 1px solid black">
													<strong>Municipio</strong>
												</div>
												{{ destinatario.municipio.municipio }}
											</div>
											<div class="col-xs-12">
												<div style="border-bottom: 1px solid black"><strong>Dirección</strong></div>
												{{ destinatario.address }}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<textarea name="details" rows="5" ng-model="bolsa.details" class="form-control" ng-disabled="!isEdit"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12" style="text-align: right !important;">

						</div>
					</div>
				</form>
			</div>
			<hr />
			<div class="row" ng-if="!isEdit">
				<div class="col-md-12">
                    <button ng-click="warningModal()" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i> Transito de cierre</button>
                    <button ng-click="createModal(2)" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> Transito</button>
                    <hr />
					<div class="table-responsive">
						<div class="double-bounce1" ng-show="loader.loading3"><span us-spinner></span></div>
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>Code</th>
								<th>Estado</th>
								<th>Encargado</th>
								<th>Fecha y hora</th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-repeat="transito in bolsa.transitos">
								<td><a data-ng-click="showModal(transito.id)">{{ transito.id }}</a></td>
								<td>{{ transito.estados.name }}</td>
								<td>{{ transito.user.name }}</td>
								<td>{{ transito.created_at }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	