<div class="row">
    <div class="col-md-12">
        <div class="double-bounce1" ng-show="loader.loading"><span us-spinner></span></div>
        <div class="row">
            <div class="col-md-10">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-warning" href="#/bolsas/create">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="col-md-8">
                        <div class="form-group has-feedback">
                            <div class="input-group">
                                <span class="input-group-addon">Buscar</span>
                                <input type="text" class="form-control" id="search" ng-model='searchable'
                                           aria-describedby="inputGroupSuccess1Status"
                                           ng-disabled="!searchType"
                                           ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }">
                            </div>
                            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                            <span id="inputGroupSuccess1Status" class="sr-only">(success)</span>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="radio" name="favoriteColors" ng-model="searchType" value="1"> Código
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="favoriteColors" ng-model="searchType" value="2"> Remitente
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" name="favoriteColors" ng-model="searchType" value="3"> Destinatario
                            </label>
                           <label class="checkbox-inline">
                                <input type="radio" name="favoriteColors" ng-model="searchType"> Solo Fechas
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group" ng-show="searchType != 1">
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Estab. Remitente</th>
                            <th>Estab. Destino</th>
                            <th>Usuario</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Ver Paq.</th>
                            <th>Listado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bolsa in bolsas">
                            <td><a href="#/bolsas/{{ bolsa.id }}">{{ bolsa.code }}</a></td>
                            <td>{{ bolsa.sender.name }}</td>
                            <td>{{ bolsa.reciber.name }}</td>
                            <td>{{ bolsa.user.name }}</td>
                            <td>{{ bolsa.transito.estados.name }}</td>
                            <td>{{ bolsa.created_at }}</td>
                            <td><a data-ng-click="showList(bolsa.id)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                            <td><a href="#/bolsas-listado/{{ bolsa.id }}"><i class="glyphicon glyphicon-list"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" ng-click="nextPage(currentPage)"></uib-pagination>
            </div>
        </div>
    </div>
</div>