<div class="row">
    <div class="col-md-12">
        <div class="double-bounce1" ng-show="loader.loading"><span us-spinner></span></div>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ title }}</h2>

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#/bolsas/{{ bolsa.id }}" class="btn btn-warning"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp; Regresar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="number" name="code" class="form-control col-sm-10" placeholder="código de paquetes" data-ng-model="newCod" ng-model-options="{debounce: 1500}" data-ng-show="showEntryForm">
                </div>
            </div>
        </div>
        <div class="row" ng-if="showTable == true">
            <div class="col-md-12">
                <hr />
                <i class="glyphicon glyphicon-eye-open" style="color:red"></i>
                <table class="table-bordered table">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Remitente</th>
                            <th>Destinatario</th>
                            <th>Fecha</th>
                            <th ng-if="showEntryForm">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="paquete in shipments track by $index">
                            <td><a data-ng-click="showShipments(paquete.id)">{{ paquete.code }}</a></td>
                            <td>{{ paquete.senders.name }}</td>
                            <td>{{ paquete.recivers.name }}</td>
                            <td>{{ paquete.created_at }}</td>
                            <td><a data-ng-click="removeItem($index, paquete.code, 1)"><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                        <tr data-ng-repeat="paquetes in bolsa.shipments track by $index">
                            <td><a data-ng-click="showShipments(paquetes.id)">{{ paquetes.code }}</a></td>
                            <td>{{ paquetes.senders.name }}</td>
                            <td>{{ paquetes.recivers.name }}</td>
                            <td>{{ paquetes.created_at }}</td>
                            <td ng-if="showEntryForm"><a data-ng-click="removeItem($index, paquetes.code, 2)"><i class="glyphicon glyphicon-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-if="showTable == false">
            <div class="col-md-12">
                <hr />
                <h4 class="text-center">No hay paquetes en esta bolsa</h4>
            </div>
        </div>
    </div>
</div>
