<div>
    <div class="double-bounce1" ng-if="loader.loading"><span us-spinner></span></div>
    <div class="modal-header">
        <h3 class="modal-title">Listado de paquetes en <span style="color:red">{{ title }}</span></h3>
    </div>

    <div class="modal-body" ng-if="!paquetes.length">
        <div class="row">
            <div class="col-md-12">
                <h3 style="color:lightslategrey">No hay paquetes en esta bolsa</h3>
            </div>
        </div>
    </div>

    <div class="modal-body" ng-if="paquetes.length">
        <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                    <input type="text" ng-model="searchable" class="form-control" placeholder="Busqueda de Paquetes">
                </div>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table-bordered table table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Remitente</th>
                                <th>Destinatario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="paquete in paquetes.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: searchable">
                                <td><a data-ng-click="showShipments(paquete.id)">{{ paquete.code }}</a></td>
                                <td>
                                    <div style="border-bottom: 1px solid lightslategray;">
                                        <strong>{{ paquete.senders.name}}</strong>
                                    </div>
                                    <small>{{ paquete.senders.establecimiento.name}}</small>

                                </td>
                                <td>
                                    <div style="border-bottom: 1px solid lightslategray;">
                                        <strong>{{ paquete.recivers.name}}</strong>
                                    </div>
                                    <small>{{ paquete.recivers.establecimiento.name}}</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <uib-pagination total-items="totalItems" ng-model="currentPage"
                                    max-size="5" boundary-links="true" ng-change="pageChanged()"
                                    items-per-page="itemsPerPage" class="pagination-sm"
                                    ng-if="paginating" force-ellipses="true" ng-click="setPage(currentPage)">
                    </uib-pagination>
                </div>
            </div>
            <div class="col-md-12">
                <a href="/reportes/pdf/{{ bolsaId }}" class="btn btn-warning"><i class="glyphicon-cloud-download" aria-hidden="true"></i> PDF</a>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()" ng-if="!isEdit">Cancel</button>
    </div>
</div>
