@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox";
@import "selectize.default";
@import "bootstrap-flatly.min";
@import "awesome-bootstrap-checkbox";
@import "ngToast.min";
@import "ngToast-animations.min";

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.double-bounce1 {
  width: 100%;
  height: 100%;
  background-color:white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.info-overlay {
  color: #F0F1F0;
  font-size: 20px;
  text-align: left;
  background: #d4d5ff;
}

.info-overlay > button {
  color: #1BBA9A;
  display: block;
  background: #fcfcfc;
  /* center the button: */
  left: -125px;
  margin: 20px 50%;
  position: relative;
}

.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}

.ui-select-bootstrap > .ui-select-match > .btn {
  color: #000;
}

/**
* Images
*/
.thumb {
       width:100%;
}

/**
* Form fixes
*/

.check-update {
  padding-left: 5rem;
  border: 1px dashed;
}