.checkbox-material{
  span.check{display: none}
}

#content {
  background: whitesmoke;
  display: block;
  clear: both;
  padding: 26px 5px;
}

.sect{
  height: 8rem;
}

.warp{
  padding: 5px
}

ul.nav-tabs li.active{
  background-color: #003300;
}

.divier {
  margin-bottom: 1.5rem;
}