<div class="row">
    <div class="col-md-12">
        <div class="double-bounce1" ng-show="loader.loading"><span us-spinner></span></div>

        <div class="row">
            <div class="col-md-10">
                <h2>{{ title }}</h2>

            </div>

            <div class="col-sm-2">
                <a class="btn btn-warning" href="#/paquetes/"><span class="glyphicon glyphicon-arrow-left"> Cancelar</span></a>
            </div>

        </div>
        <hr />
        <form name="formShipment" ng-submit="submitShipment()">

            <div class="row">

                <div class="col-md-12">

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">No. Guia</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <!-- code Form Input -->
                                    <div class="form-group">
                                        <input class="select form-control" id="code" name="code" type="text" ng-model="shipment.code" required>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a id="generate" class="btn btn-primary" ng-click="generateCode()">Generar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Remitente </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10">
                                    <ui-select ng-model="sender.selected" ng-change="sourceSenderChanged()"  theme="bootstrap" ng-if="!showSenderName" ng-required="!showSenderName">
                                        <ui-select-match class="ui-select-match" placeholder="Listado de Remitentes">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices class="ui-select-choices"  data-id="$index"  refresh="searchSenders($select)" refresh-delay="300" repeat="senders in senders">
                                            <div ng-bind-html="senders.name | highlight: $select.search"></div>
                                            <small style="font-size: 0.8rem">
                                                <span ng-bind-html="''+senders.establecimiento.name | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>

                                    <input type="text" class="form-controll" ng-model="senderName" ng-if="showSenderName" disabled>
                                </div>
                                <div class="col-xs-1">

                                    <a class="btn btn-warning" ng-click="senderModal(1)"><i class="glyphicon glyphicon-plus"></i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Destinatario</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10">
                                    <ui-select ng-model="reciber.selected" ng-change="sourceReciberChanged()"  theme="bootstrap" ng-required="!showReciberName" ng-if="!showReciberName">
                                        <ui-select-match class="ui-select-match" placeholder="Listado de Destinatarios">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices class="ui-select-choices"  data-id="$index"  refresh="searchReciber($select)" refresh-delay="300" repeat="recibers in recibers">
                                            <div ng-bind-html="recibers.name | highlight: $select.search"></div>
                                            <small style="font-size: 0.8rem">
                                                <span ng-bind-html="''+recibers.establecimiento.name | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>

                                    <input type="text" class="form-controll" ng-model="reciberName" ng-if="showReciberName" disabled>

                                </div>
                                <div class="col-xs-1">
                                    <a class="btn btn-warning" ng-click="senderModal(2)"><i class="glyphicon glyphicon-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea name="" class="form-control" rows="3" ng-model="shipment.description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Registro de Estado</label>
                            
                        <select class="form-control"
                                ng-model="shipment.estado_id"
                                ng-options="e.id as e.name for e in transitos"
                                required
                        ></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <div class="btn-group">
                        <button type="submit" ng-disabled="formShipment.$invalid" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>