<div class="modal-content">
    <div class="modal-header">
        <button type="button" data-ng-click="cancel(2)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><span style="color: red">Transito de Cierre</span></h4>
    </div>
    <div class="modal-body">
        <p style="color: red">Recuerda que al cerrar un paquete ya no podras editarlo o cambiar su estado</p>
    </div>
    <div class="modal-footer">
        <button type="button" data-ng-click="cancel(2)" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" data-ng-click="cancel(1)" class="btn btn-danger">Continual</button>
    </div>
</div><!-- /.modal-content -->